<div class="container" ng-controller="IndexCtrl">
  <h1 class="text-center">My blog</h1>
  <div class="row" ng-repeat="user in data.users">
      <h2>{{user.name}}</h2>
      <p>{{user.date_of_birth}}</p>
  </div>
</div>